<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="./mincss/styles.css">
	    <title>WeMake - Galerie publique</title>
    </head>
    <body>
      <% if(!user){ %>
    	<header class="global-header">
    		<nav class="container">
    			<div class="row align-center">
					<div class=col-lg-6>
						<h1><a href="/" title="WeMake">WEMAKE</a></h1>
					</div>
					<div class="col-lg-6">
						<ul class="menu">
							<li>
								<a href="/galerie" title="Galerie publique" class="menu__link menu__link--active">Galerie publique</a>
							</li>
							<li>
								<a href="/connexion" title="Connexion"  class="menu__link menu__link--strong">Connexion</a>
							</li>
							<li>
								<a href="/inscription" title="Inscription"  class="menu__link menu__link--strong">Inscription</a>
							</li>
						</ul>
					</div>
    			</div>
    		</nav>
    	</header>
      <% } else{ %>
      <form action="/mes-projets" method="POST" class="modal">
          <div class="modal__content">
              <div class="modal__content__close">&#215;</div>
              <span class="modal__content__title">Créer un projet</span>
              <div class="modal__content__name">
                  <label for="name">Nom du projet</label><br />
                  <input id="name-project" class="modal__content__name__input" type="text" name="name" placeholder="Projet n°1">
              </div>
              <span id="titleCreateProject" class="error-box"></span>
              <div class="modal__content__size">
                  <label for="size-project">Taille du projet (en px)</label><br />
                  <input id="size-project" type="number" class="modal__content__size__1" name="width" placeholder="800"> x
                  <input id="size-project-height" type="number" class="modal__content__size__2" name="height" placeholder="600">
              </div>
              <span id="projectSizeError" class="error-box"></span>
              <button id="submitCreateProject" class="button button--blue" type="submit">Créer le projet</button>
          </div>
      </form>

      <div class="popup">
          <div class="popup__close">&#215;</div>
          <div class="popup__text">
              Lorem ipsum dola ersam Lorem ipsum dola ersam
          </div>
          <a id="popup-link" href="">
              <button class="popup__button button button&#45;&#45;white">Rejoindre</button>
          </a>
      </div>

      <header class="container-fluid app-header">
          <div class="row align-center">
              <div class="col-lg-6">
                  <nav class="menu">
                      <a href="/" class="menu__icon"><img src="./images/menu.svg" alt="Menu"></a>
                      <ul class="menu__sub">
                          <li class="menu__sub__link"><a href="/mes-projets" title="Mes projets">Mes projets</a></li>
                          <li class="menu__sub__link"><a href="/galerie" title="Galerie publique">Galerie publique</a></li>
                          <li class="menu__sub__link"><a href="/deconnexion" title="Déconnexion">Déconnexion</a></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-6 d-flex justify-end">
                  <a href="#" class="create-project button button--blue" title="Créer un projet">Créer un projet</a>
              </div>
          </div>
      </header>
      <% } %>
        <main>
            <section class="container gallery">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="gallery__title">
                            .: Galerie publique
                        </h2>
                    </div>
                </div>
                <div class="row">
                  <% ownProjects.forEach(function(own) { %>
                    <div class="col-lg-3 popular-projects__three">
                        <div>
                            <div class="popular-projects__three__image gallery-preview" style="background:url('<%= own.thumbnail %>')"></div>
                            <div class="popular-projects__three__box-infos">
                                <h4 class="popular-projects__three__box-infos__title"><a href="#"><%= own.title %></a></h4>
                                <span class="popular-projects__three__box-infos__author"><%= own.nickname %></span>
                                <div class="popular-projects__three__box-infos__like">
                                    <span id="likeNumber" class="popular-projects__three__box-infos__like__counter">5</span>
                                    <input type="submit" id="likeButton" class="popular-projects__three__box-infos__like__icon" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                  <% }); %>
                </div>
            </section>
        </main>
        <footer class="container-fluid footer">
            <a href="#" title="WeMake" class="footer__link">WeMake</a>
            <a href="#" title="Mentions légales" class="footer__link">Mentions légales</a>
            <a href="#" title="Nous contacter" class="footer__link">Nous contacter</a>
        </footer>
        <script src="../socket.io/socket.io.js" charset="utf-8"></script>
        <script src="./minjs/script.js"></script>
        <script type="application/javascript">
            const likeButton = document.getElementById('likeButton');
            const likeNumber = document.getElementsByClassName('popular-projects__three__box-infos__like__counter');

            for(let i = 0; i < likeNumber.length; i++){
                likeNumber[i].innerHTML = Math.floor(Math.random() * 1000) + 1;
            }

            likeButton.addEventListener('click', () => {
                //Incrémentation du compteur à faire
            })

            if('<%= user %>'){

              const popup = document.getElementsByClassName('popup');
              const popupClose = document.getElementsByClassName('popup__close');
              const popupText = document.getElementsByClassName('popup__text');
              const popupLink = document.getElementById('popup-link');

              // Gets variables for input error handling
              const titleInput = document.getElementById('name-project');
              const widthInput = document.getElementById('size-project');
              const heightInput = document.getElementById('size-project-height');

              const titleError = document.getElementById('titleCreateProject');
              const sizeError = document.getElementById('projectSizeError');

              const createProjectBtn = document.getElementById('submitCreateProject');

              createProjectBtn.addEventListener('click', function(e) {

                  if (titleInput.value == '') {
                      e.preventDefault();
                      titleError.innerText = 'Merci de choisir un nom pour votre projet';
                      titleError.classList.add('is-shown');
                  }

                  if (widthInput.value == '' || heightInput.value == '') {
                      e.preventDefault();
                      sizeError.innerText = 'Veuillez indiquer une taille à votre projet';
                      sizeError.classList.add('is-shown');
                  }

              });

              const openNotif = (element) => {
                  element.classList.add('open');
              }

              const closeNotif = (element) => {
                  element.classList.remove('open');
              }

              popupClose[0].addEventListener('click' , function() {
                  closeNotif(popup[0])
              });

              document.addEventListener('click', (e) => {
                  let id = e.target.getAttribute('data-id');
                  let form = document.getElementById('form-visibility');
                  let modalVisibility = document.getElementsByClassName('modal-visibility');
                  if(id){
                      form.setAttribute('action', '/visible/'+id)
                      console.log(form.getAttribute('action'))
                      modalVisibility[0].style.opacity = '1';
                      modalVisibility[0].style.visibility = 'visible';
                  }
              })

            const socket = io.connect();

            //Notification d'ajout dans un projet
            socket.on('getCollabNotif', data => {
                if(data.receiver == "<%= user %>"){
                    openNotif(popup[0]);
                    setTimeout(() => {
                        closeNotif(popup[0]);
                    },5000)

                    popupText[0].innerHTML = data.sender+' t\'as invité dans un nouveau projet';
                    popupLink.href = "/app/"+data.project;
                }
            });
            }

        </script>
    </body>
</html>
