<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="./mincss/styles.css">
        <link rel="stylesheet" href="./vendors/aos/dist/aos.css">
	    <title>WeMake - Mes projets</title>
    </head>
    <body>
        <form action="/mes-projets" method="POST" class="modal">
            <div class="modal__content">
                <div class="modal__content__close">&#215;</div>
                <span class="modal__content__title">Créer un projet</span>
                <div class="modal__content__name">
                    <label for="name">Nom du projet</label><br />
                    <input id="name-project" class="modal__content__name__input" type="text" name="name" placeholder="Projet n°1">
                </div>
                <span id="titleCreateProject" class="error-box"></span>
                <div class="modal__content__size">
                    <label for="size-project">Taille du projet (en px)</label><br />
                    <input id="size-project" type="number" class="modal__content__size__1" name="width" placeholder="800"> x
                    <input id="size-project-height" type="number" class="modal__content__size__2" name="height" placeholder="600">
                </div>
                <span id="projectSizeError" class="error-box"></span>
                <button id="submitCreateProject" class="button button--blue" type="submit">Créer le projet</button>
            </div>
        </form>

        <div class="popup-container">
            <div class="popup">
                <div class="popup__close">&#215;</div>
                <div class="popup__text">
                    Lorem ipsum dola ersam Lorem ipsum dola ersam
                </div>
                <a id="popup-link" href="">
                    <button class="popup__button button button&#45;&#45;white">Rejoindre</button>
                </a>
            </div>
        </div>
		
		<form action="/visible/" id="form-visibility" method="POST" class="modal-visibility">
			<div class="modal-visibility__content">
				<div class="modal-visibility__content__close">&#215;</div>
				<span class="modal-visibility__content__title">Vous voulez rendre ce projet :</span><br />
				<div class="modal-visibility__content__input">
					<input type="radio" name="visibility" id="private" value="private" checked>
					<label for="private">Privé</label>
				</div>
				<div class="modal-visibility__content__input">
					<input type="radio" name="visibility" id="public" value="public">
					<label for="public">Public</label>
				</div>
				<button class="modal-visibility__content__validate button button--blue" type="submit">Valider</button>
			</div>
		</form>
		
        <header class="container-fluid app-header">
            <div class="row align-center">
                <div class="col-lg-6">
                    <nav class="menu">
                        <a href="/" class="menu__icon"><img src="./images/menu.svg" alt="Menu"></a>
                        <ul class="menu__sub">
                            <li class="menu__sub__link"><a href="/mes-collaborations" title="Mes collaborations">Mes collaborations</a></li>
                            <li class="menu__sub__link"><a href="/galerie" title="Galerie publique">Galerie publique</a></li>
                            <li class="menu__sub__link"><a href="/deconnexion" title="Déconnexion">Déconnexion</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-6 d-flex justify-end">
                    <a href="#" class="create-project button button--blue" title="Créer un projet">Créer un projet</a>
                </div>
            </div>
        </header>
        <main class="container">
            <section class="all-projects container">
                <% if(ownProjects.length > 0){ %>
				<h1>Mes projets</h1>
                <% ownProjects.forEach(function(own) { %>

                  <article class="project row" data-aos="fade-right" data-aos-duration="800" data-aos-offest="30" data-aos-easing="ease-in-out">
                      <div class="project__preview col-lg-4" id="preview" style="background:url('<%= own.thumbnail %>')">
                          <div class="project__preview__status preview-<%= own.id %>">
                            <% if(own.visibility){ %>
                              <img src="./images/public-white.svg" data-id="<%= own.id %>" alt="">
                            <% } else{ %>
                              <img src="./images/cadena.svg" data-id="<%= own.id %>" alt="">
                            <% } %>
                          </div>
                      </div>
                      <div class="project__informations col-lg-6">
                          <h2 class="project__informations__title">
                              <%= own.title %>
                          </h2>
                          
                          <span class="project__informations__colaborators"><strong><% if(own.collabs.length > 1){ %>Collaborateurs :<% }else{ %> Collaborateur : <%}%></strong> <% if(own.collabs.length > 0){ %>
                            <%= own.collabs.join(', ') %>
                          <% }else{ %>
                            Il n'y a aucun collaborateur
                          <%}%></span><br>
                          <span class="project__informations__date">Créé le <%= own.creation_date.toDateString() %></span>
                      </div>
                      <div class="project__cta col-lg-2">
                          <a href=<%= "/app/"+own.id %> class="button button--transparent" title="Modifier">Modifier</a>
                          <form class="" action="/delete/<%= own.id %>" method="POST">
                            <button type="submit" class="button button--red" title="Supprimer">Supprimer</a>
                          </form>
                      </div>
                  </article>
                <% }); %>
                <% }else{ %>
                  <h1>Mes projets</h1>
                    <div class="row">
                        <div class="no-projects">
                            <img src="./images/picture.svg" alt="Commencer un projet" class="no-projects__picture">
                            <p class="no-projects__title">Vous n'avez pas de projets</p>
                            <a href="#" class="create-project button button--blue" title="Créer un projet">Commencer un projet</a>
                        </div>
                    </div>
                <% } %>
            </section>
        </main>
        <script src="../socket.io/socket.io.js" charset="utf-8"></script>
        <script src="/vendors/aos/dist/aos.js"></script>
        <script src="./minjs/script.js"></script>
        <script type="text/javascript">

            const popup = document.getElementsByClassName('popup');
            const popupClose = document.getElementsByClassName('popup__close');
            const popupText = document.getElementsByClassName('popup__text');
            const popupLink = document.getElementById('popup-link');

            // Gets variables for input error handling
            const titleInput = document.getElementById('name-project');
            const widthInput = document.getElementById('size-project');
            const heightInput = document.getElementById('size-project-height');

            const titleError = document.getElementById('titleCreateProject');
            const sizeError = document.getElementById('projectSizeError');

            const createProjectBtn = document.getElementById('submitCreateProject');

            createProjectBtn.addEventListener('click', function(e) {

                if (titleInput.value == '') {
                    e.preventDefault();
                    titleError.innerText = 'Merci de choisir un nom pour votre projet';
                    titleError.classList.add('is-shown');
                }

                if (widthInput.value == '' || heightInput.value == '') {
                    e.preventDefault();
                    sizeError.innerText = 'Veuillez indiquer une taille à votre projet';
                    sizeError.classList.add('is-shown');
                }

            });

            const openNotif = (element) => {
                element.classList.add('open');
            }

            const closeNotif = (element) => {
                element.classList.remove('open');
            }

            popupClose[0].addEventListener('click' , function() {
                closeNotif(popup[0])
            });
			
			document.addEventListener('click', (e) => {
				let id = e.target.getAttribute('data-id');
				let form = document.getElementById('form-visibility');
				let modalVisibility = document.getElementsByClassName('modal-visibility');
				if(id){
					form.setAttribute('action', '/visible/'+id)
					console.log(form.getAttribute('action'))
					modalVisibility[0].style.opacity = '1';
					modalVisibility[0].style.visibility = 'visible';
				}
			})

          const socket = io.connect();

          //Notification d'ajout dans un projet
          socket.on('getCollabNotif', data => {
              if(data.receiver == "<%= user %>"){
                  openNotif(popup[0]);
                  setTimeout(() => {
                      closeNotif(popup[0]);
                  },5000)

                  popupText[0].innerHTML = data.sender+' t\'as invité dans un nouveau projet';
                  popupLink.href = "/app/"+data.project;
              }
          });

          let image = document.getElementById('preview');
        </script>
    </body>
</html>
